@import "normalize";
@import "colors";
@import "fonts";

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0 solid red;
}

html, body {
  padding: 0;
}

body {
  font-family: arial;
  font-size: 0.8em;
}

h3 {
  text-shadow: 1px 1px 0px #fff;
  margin-bottom: 0;
}

.flexbox-container {
  margin: 0 auto;
  max-width: 90%;
	display: flex;
	align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.flexbox-container-results {
  margin: 0 auto;
  width: 90%;
	display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

footer {
  color: $border;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  .google {
    height: 15px;
  }
  .yelp {
    height: 25px;
  }
}

.logo {
  padding: 0;
  width: 100%;
  max-width: 600px;
}

#map {
  width: 100%;
  height: 85vh;
}
// #tabs {
//   display: none;
// }

header,
footer,
main > section,
main > aside {
   margin: 0;
   padding: 1em 0.5em;
}

main > section {
  height: 100vh;
   background-color: #996;
   -webkit-flex: 1 0;
           flex: 1 0;
   -webkit-order: 1;
           order: 1;
}

header, footer {
   display: block;
}

header {
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  img {
    padding: 5vh 0;
    width: 90%;
    max-width: 600px;
  }
}

/* Too narrow to support three columns */
  @media all and (max-width: 640px) {
    #tabs {
      display: block;
    }
   main, #page {
    -webkit-flex-flow: column;
            flex-flow: column;
    }
   main > section, main > aside {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }
   main > aside, header, footer {
    min-height: 50px;

   }
}

input[type="text"] {
  padding: 10px;
  border: $border solid 1px;
  border-radius: 5px;
}

#address {
  width: 280px;
}

#currentLocation, #searchAddress {
  width: 280px;
  padding: 10px;
  border: $border solid 1px;
  border-radius: 5px;
  text-shadow: 1px 1px 0px #fff;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
  border:#ccc 1px solid;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}

ul.tabNav {
  list-style: none;
  float:left;
  padding-left:0;
  margin-bottom:0;
  li {
    float: left;
    font-weight: bold;
    display: inline-block;
    width: 100px;
    padding: 5px 10px;
    margin-right: 5px;
    border: $border solid 1px;
    border-bottom: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #f2f2f2;
    text-shadow: 1px 1px 0px #fff;
    border-bottom:1px solid #e0e0e0;
    .current {
      color:red;
      a {
          background-color: #dedede;
          border: none;
          padding: 8px;
      }
    }
  }
  a {
    color: #404040;
    display: block;
    text-decoration: none;
  }
}

div.tabContainer {
    clear: both;
    float: left;
    width: 100%;
}
div.tabContainer div.tab {
    border: 1px solid #C0C0C0;
    color: #000;
    display: none;
    padding: 10px;
}
div.tabContainer div.current {
    display: block;
}
div.tab p:last-child {
    margin-bottom: 0;
}

/* TABLES */

table {
  width: 100%;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin: 0;
	border: 1px solid $border;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
  td:last-child {
    white-space: nowrap;
  }
  th {
    text-align: left;
  	padding: 5px;
  	border-top:1px solid #fafafa;
  	border-bottom:1px solid #e0e0e0;
  	background: #ededed;
  	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
  }
  tr:first-child th:first-child {
  	-moz-border-radius-topleft:3px;
  	-webkit-border-top-left-radius:3px;
  	border-top-left-radius:3px;
  }
  tr:first-child th:last-child {
  	-moz-border-radius-topright:3px;
  	-webkit-border-top-right-radius:3px;
  	border-top-right-radius:3px;
  }
  tr {
  	text-align: center;
  }
  td:first-child {
  	text-align: left;
  	border-left: 0;
  }
  td {
  	padding: 5px;
  	border-top: 1px solid #ffffff;
  	border-bottom:1px solid #e0e0e0;
  	border-left: 1px solid #e0e0e0;
  	background: #fafafa;
  	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
  }
  tr:nth-child(even) td {
  	background-color: #f6f6f6;
  	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
  }
  tr:last-child td {
  	border-bottom:0;
  }
  tr:last-child td:first-child {
  	-moz-border-radius-bottomleft:3px;
  	-webkit-border-bottom-left-radius:3px;
  	border-bottom-left-radius:3px;
  }
  tr:last-child td:last-child {
  	-moz-border-radius-bottomright:3px;
  	-webkit-border-bottom-right-radius:3px;
  	border-bottom-right-radius:3px;
  }
  tr:hover td {
  	background: #f2f2f2;
  	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
  }
}
