@import "normalize";
@import "colors";

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: arial;
  font-size: 0.8em;
}

h3 {
  text-shadow: 1px 1px 0px #fff;
  margin: 0;
}

.flexbox-container {
  padding: 1rem;
  margin: 0 auto;
  max-width: 90%;
	display: flex;
	align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.flexbox-container-results {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  max-width: 900px;
}

.row-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.map {
  flex: 0.5;
}
.list {
  flex: 0.5; /* width of columns */
}

@media (max-width: 768px) {
  .row-container {
    flex-direction: column;
    flex: 0;
  }
  .map, .list {
    flex: 0;
  }
}

main {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

footer {
  color: $border;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-top: 1rem;
  a {
    color: #404040;
    transition: all 0.5s ease;
  }
  a:hover {
    color: #C0C0C0;
  }
}

.hide {
  display: none;
}

.logo {
  padding: 0;
  width: 100%;
  max-width: 600px;
}

#map {
  width: 100%;
  height: 85vh;
}

/* Too narrow to support three columns */
  @media all and (max-width: 640px) {
    #tabs {
      display: block;
    }
   main, #page {
    -webkit-flex-flow: column;
            flex-flow: column;
    }
   main > section, main > aside {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }
   main > aside, header {
    min-height: 50px;
   }
}

#address {
  width: 280px;
  padding: 10px;
  border: $border solid 1px;
  border-radius: 5px;
}

#currentLocation, #searchAddress {
  @extend #address;
  text-shadow: 1px 1px 0px #fff;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
  border:#ccc 1px solid;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}

/* TABLES */

table {
  width: 100%;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin: 0;
	border: 1px solid $border;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
  td:last-child {
    white-space: nowrap;
  }
  th {
    text-align: left;
  	padding: 5px;
  	border-bottom:1px solid #e0e0e0;
  	background: #ededed;
  	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
  }
  tr:first-child th:first-child {
  	-moz-border-radius-topleft:3px;
  	-webkit-border-top-left-radius:3px;
  	border-top-left-radius:3px;
  }
  tr:first-child th:last-child {
  	-moz-border-radius-topright:3px;
  	-webkit-border-top-right-radius:3px;
  	border-top-right-radius:3px;
  }
  tr {
  	text-align: center;
  }
  td:first-child {
  	text-align: left;
  	border-left: 0;
  }
  td {
  	padding: 5px;
  	border-top: 1px solid #ffffff;
  	border-bottom:1px solid #e0e0e0;
  	border-left: 1px solid #e0e0e0;
  	background: #fafafa;
  	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
  }
  tr:nth-child(even) td {
  	background-color: #f6f6f6;
  	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
  }
  tr:last-child td {
  	border-bottom:0;
  }
  tr:last-child td:first-child {
  	-moz-border-radius-bottomleft:3px;
  	-webkit-border-bottom-left-radius:3px;
  	border-bottom-left-radius:3px;
  }
  tr:last-child td:last-child {
  	-moz-border-radius-bottomright:3px;
  	-webkit-border-bottom-right-radius:3px;
  	border-bottom-right-radius:3px;
  }
  tr:hover td {
  	background: #f2f2f2;
  	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
  }
}
